.vs/VSWorkspaceState.json

0\.General/

1\.PC Requirement - Kavitha/

2\. Azure - Pat/

desktop\.ini

HP Z240 Tower Workstation\.pdf

Jf8nPLZy\.jpg

kamal - skills\.docx

links\.txt

Microsoft eBook/

pass\.txt

Resume_Master\.pdf

Signature\.docx
Fix for Blank or Empty Windows Features List in Vista and 7.html
1. PC Requirement - Kavitha/BOXER-6639M.pdf
3. Access Point Comparison - Pat/ruckus-product-guide.pdf
1. PC Requirement - Kavitha/BOXER-6639M manual 1st ed.pdf
1. PC Requirement - Kavitha/Datasheet_DS-1000.pdf
1. PC Requirement - Kavitha/Datasheet_DS-1200_20181018.pdf
1. PC Requirement - Kavitha/FW Request for quote.eml
1. PC Requirement - Kavitha/Manual_DS-1000_V1.50_2017062101.pdf
1. PC Requirement - Kavitha/Manual_DS-1200_V1.10_2018102301.pdf
1. PC Requirement - Kavitha/RS-232, RS-422, RS-485 Serial Communication General Concepts - National Instruments.pdf
1. PC Requirement - Kavitha/What does the coding mean on M12 connectors_.pdf
3. Access Point Comparison - Pat/Ubiquiti and Ruckus AP Comparison.docx
3. Access Point Comparison - Pat/rockus1.jpg
3. Access Point Comparison - Pat/rockus2.jpg
vmware-certification-tracks-diagram.pdf
github.io/kamalmohan.github.io/
azure-quickstart-templates/
vsRepo/
