.vs/VSWorkspaceState.json

0\.General/

1\.PC Requirement - Kavitha/

2\. Azure - Pat/

desktop\.ini

HP Z240 Tower Workstation\.pdf

Jf8nPLZy\.jpg

kamal - skills\.docx

links\.txt

Microsoft eBook/

pass\.txt

Resume_Master\.pdf

Signature\.docx
